*{
	margin: 0;
}

/* ---===Body===--- */
body>div{
	display:block;
}

/* ---===FIN Body===--- */

/* ---===nav bar===--- */
.nav_bar{
	width : 100%;
	height: 40px;
	background-color: blanchedalmond;
	border : solid 1px grey;
	position: relative;
	display:flex;
	flex-direction: row;
	z-index:10000;
}

.nav_bar>div{
	margin:0 10px 0 10px;
	padding: 5px;
}

/* ---===FIN nav bar===--- */

/* ---===Container===--- */
#titre_fichier{
	text-align: center;
	margin: 10px;
}

.container{
	max-width:100%;
	padding: 0;
	margin: 0;
	padding-left: 15px;
}

.row{
	height: 500px;
	margin-bottom: 10px;
}
.body_boite{
	border : solid 1px grey;
	padding-left: 2px;
}

.col-{
	width:50%;
	/* border : solid 1px grey; */
}

.body_boite{
	display:flex;
	flex-direction: row;
	height:100%;
}


.menu_boite{
	width: 20%;
	height: 100%;
	border-right : solid 1px grey;
}

.titre_boite{
	text-align: center;
}
.map{
	width: 80%;
	height: 100%;
}

.div_map{
	width :100%;
	height: 100%;
}

/* ---===FIN Container===--- */




/* ---===Footer===--- */
#footer{
	position:fixed;
	height:30px;
	bottom:0px;
	background-color: darksalmon;
	width:100%;
	display:flex;
	flex-direction: row;
	z-index:10000;
}

.onglet_fenetre{
	text-align:center;
	padding : 0 5%;
	border : solid 1px grey;
}
.couleur_onglet{
	background-color: #ffe9a8;
}
.onglet_fenetre_reduit{
	background-color: #d1ad43;
}
/* ---===FIN Footer===--- */

  
#info {
	float:inherit;
	position:fixed;
	top:7px;
	right:10px;
	z-index:10000;
	width: 200px;
	height: 50px;
	background-color: rgba(50, 50, 50, 0.2);
	border: 2px solid black;
	border-radius: 10px;

}


/*Modif Simon bouton reduire*/
.bouton_reduire{
	text-align: center;
	flex-grow: 1;
	/* background-color: rosybrown; */
}
.bouton_full_screen{
	text-align:center;
	flex-grow: 1;
}
.menu_bouton_affichage{
	display:flex;
	flex-direction: row;
}
.menu_bouton_affichage>div:hover{
	background-color: black;
	color:white;
}
.line_separator{
	border-top:1px solid black;
}
.menu_bouton_mouvement{
	display:flex;
	flex-direction:column;
}
.menu_bouton_mouvement>div{
	flex-grow: 1;
	text-align:center;
}
.menu_bouton_mouvement>div:hover{
	background-color: black;
	color:white;
}

/*Modif Simon bouton reduire*/